language: R
r: release

r_build_args: --no-build-vignettes --no-manual --no-resave-data
r_check_args: --no-build-vignettes --no-manual

repos:
  CRAN: https://cloud.r-project.org
  ropensci: http://packages.ropensci.org

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode6.1
      sudo: required
  allow_failures:
    - os: osx

compiler:
  - gcc
  - clang

addons:
 apt:
   packages:
   - gcc-4.8
   - g++-4.8

before_install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then curl -O http://r.research.att.com/libs/gfortran-4.8.2-darwin13.tar.bz2 ; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then sudo tar fvxz gfortran-4.8.2-darwin13.tar.bz2 -C / ; fi
  # - if [ "$TRAVIS_OS_NAME" == "linux" ]; then Rscript -e 'install.packages(c("devtools"));library(devtools);devtools::install_github("jimhester/covr")' ; fi

r_github_packages:
  - renkun-ken/pipeR
  - kevinushey/rex
  - jimhester/covr

r_binary_packages:
  - devtools
  - Rcpp
  - assertthat
  - reshape2
  - data.table
  - RcppArmadillo
  - RcppParallel
  - testthat

after_failure:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then cat /home/travis/build/ChingChuan-Chen/rfda/rfda.Rcheck/00install.out; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then cat /Users/travis/build/ChingChuan-Chen/rfda/rfda.Rcheck/00install.out; fi

after_success:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then Rscript -e 'covr::codecov()'; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then cat /home/travis/build/ChingChuan-Chen/rfda/rfda.Rcheck/00install.out; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then cat /Users/travis/build/ChingChuan-Chen/rfda/rfda.Rcheck/00check.log; fi

notifications:
  email:
    on_success: change
    on_failure: change
